@page "/layout/containers"

<h3>Containers</h3>

<h5>Container</h5>
<BootstrapContainer></BootstrapContainer>

<h5>Container-Breakpoint</h5>
<BootstrapContainer Breakpoint="@Size.xs"></BootstrapContainer>

<h5>Container-Fluid</h5>
<BootstrapContainer Fluid></BootstrapContainer>
