@using Microsoft.AspNetCore.Components.Web
@namespace BootstrapBlazor.Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="BootstrapBlazor.Server.styles.css" rel="stylesheet" />
    <link href="_content/BootstrapBlazor/css/bootstrap.css" rel="stylesheet" />
    <link href="_content/BootstrapBlazor.Shared/BootstrapBlazor.Shared.bundle.scp.css" rel="stylesheet" />
    <link href="_content/BootstrapBlazor.Shared/font/css/open-iconic-bootstrap.min.css" rel="stylesheet" />
    <link href="_content/BootstrapBlazor.Shared/css/site.css" rel="stylesheet" />

    <!-- highlight -->
    <link rel="stylesheet" href="_content/BootstrapBlazor.Shared/highlight/css/vs.min.css">
    <link rel="stylesheet" href="_content/BootstrapBlazor.Shared/highlight/css/highlightjs-copy.min.css">

    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>

    <!-- highlight -->
    <script type="text/javascript" src="_content/BootstrapBlazor.Shared/highlight/js/highlight.min.js"></script>
    <script type="text/javascript" src="_content/BootstrapBlazor.Shared/highlight/js/cshtml-razor.min.js"></script>
    <script type="text/javascript" src="_content/BootstrapBlazor.Shared/highlight/js/highlightjs-copy.min.js"></script>
    <script>
        if (hljs != null) {
            hljs.addPlugin(new CopyButtonPlugin());
        }
    </script>
</body>
</html>
