@namespace BootstrapBlazor
@inherits BootstrapComponentBase

<button @ref="@Element" class="@Classname" style="@Style" type="button" @onclick="@OnClick">
    @if (ChildContent != null)
    {
        @ChildContent
    }
    else
    {
        <span class="navbar-toggler-icon"></span>
    }
</button>
