@namespace BootstrapBlazor
@inherits BootstrapComponentBase

@if (!IsInline)
{
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5">@Title</h1>
            @if (Options == null ? ModalContainer!.GlobalOptions.ShowCloseBtn : Options.ShowCloseBtn)
            {
                <BootstrapCloseButton OnClick="@Close"></BootstrapCloseButton>
            }
        </div>
        <div class="@BodyClassname">
            @ChildContent
        </div>
        @if (ActionsContent is not null)
        {
            <div class="modal-footer">
                @ActionsContent
            </div>
        }
    </div>
}
