@namespace BootstrapBlazor
@inherits BootstrapComponentBase

<nav aria-label="breadcrumb">
    <ol class="@Classname" style="@Style" @attributes="@AdditionalAttributes">
        @ChildContent
    </ol>
</nav>