@namespace BootstrapBlazor
@inherits BootstrapComponentBase

<div class="@Classname" style="@Style" role="status" @attributes="@AdditionalAttributes">
    <span class="visually-hidden">Loading...</span>
</div>