@page "/components/nav"

<h3>Base nav</h3>
<BootstrapNav>
    <BootstrapNavItem Active>Active</BootstrapNavItem>
    <BootstrapNavItem>Link</BootstrapNavItem>
    <BootstrapNavItem>Link</BootstrapNavItem>
    <BootstrapNavItem Disabled>Disabled</BootstrapNavItem>
</BootstrapNav>

<h3>Tabs</h3>
<BootstrapNav IsTab>
    <BootstrapNavItem Active>Active</BootstrapNavItem>
    <BootstrapNavItem>Link</BootstrapNavItem>
    <BootstrapNavItem>Link</BootstrapNavItem>
    <BootstrapNavItem Disabled>Disabled</BootstrapNavItem>
</BootstrapNav>

<h3>Pills</h3>
<BootstrapNav Pills>
    <BootstrapNavItem Active>Active</BootstrapNavItem>
    <BootstrapNavItem>Link</BootstrapNavItem>
    <BootstrapNavItem>Link</BootstrapNavItem>
    <BootstrapNavItem Disabled>Disabled</BootstrapNavItem>
</BootstrapNav>

<h3>Fill</h3>
<BootstrapNav Fill>
    <BootstrapNavItem Active>Active</BootstrapNavItem>
    <BootstrapNavItem>Link</BootstrapNavItem>
    <BootstrapNavItem>Link</BootstrapNavItem>
    <BootstrapNavItem Disabled>Disabled</BootstrapNavItem>
</BootstrapNav>

<h3>Fill and justify</h3>
<BootstrapNav Fill Justified>
    <BootstrapNavItem Active>Active</BootstrapNavItem>
    <BootstrapNavItem>Link</BootstrapNavItem>
    <BootstrapNavItem>Link</BootstrapNavItem>
    <BootstrapNavItem Disabled>Disabled</BootstrapNavItem>
</BootstrapNav>
