<BootstrapToast @ref="@toast">
    Hello, world! This is a toast message.
    <div class="mt-2 pt-2 border-top">
        <BootstrapButton Size="@Size.sm">Take action</BootstrapButton>
        <BootstrapButton Color="@Color.secondary" Size="@Size.sm" OnClick="_=>toast?.Close()">Close</BootstrapButton>
    </div>
</BootstrapToast>

@code{
    private BootstrapToast? toast;
}
