<nav>
    <BootstrapNavMenu>
        <BootstrapNavMenuItem Href="" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </BootstrapNavMenuItem>
        <BootstrapNavMenuItem Href="counter" Match="NavLinkMatch.All">
            <span class="oi oi-plus" aria-hidden="true"></span> Counter
        </BootstrapNavMenuItem>
        <BootstrapNavMenuItem Href="fetchdata" Match="NavLinkMatch.All">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
        </BootstrapNavMenuItem>
        <BootstrapNavMenuSubItem Title="Layout">
            <BootstrapNavMenuItem Href="layout/containers">Containers</BootstrapNavMenuItem>
            <BootstrapNavMenuItem Href="layout/grid">Grid</BootstrapNavMenuItem>
        </BootstrapNavMenuSubItem>
        <BootstrapNavMenuSubItem Title="Forms">
            <BootstrapNavMenuItem Href="forms/formcontrols">FormControls</BootstrapNavMenuItem>
            <BootstrapNavMenuItem Href="forms/validation">Validation</BootstrapNavMenuItem>
        </BootstrapNavMenuSubItem>
        <BootstrapNavMenuSubItem Title="Components">
            <BootstrapNavMenuItem Href="components/accordion">Accordion</BootstrapNavMenuItem>
            <BootstrapNavMenuItem Href="components/alert">Alert</BootstrapNavMenuItem>
            <BootstrapNavMenuItem Href="components/badge">Badge</BootstrapNavMenuItem>
            <BootstrapNavMenuItem Href="components/breadcrumb">Breadcrumbs</BootstrapNavMenuItem>
            <BootstrapNavMenuItem Href="components/buttons">Buttons</BootstrapNavMenuItem>
            <BootstrapNavMenuItem Href="components/carousel">Carousels</BootstrapNavMenuItem>
            <BootstrapNavMenuItem Href="components/collapse">Collapses</BootstrapNavMenuItem>
            <BootstrapNavMenuItem Href="components/dropdown">Dropdowns</BootstrapNavMenuItem>
            <BootstrapNavMenuItem Href="components/listgroup">List group</BootstrapNavMenuItem>
            <BootstrapNavMenuItem Href="components/modal">Modals</BootstrapNavMenuItem>
            <BootstrapNavMenuItem Href="components/nav">Nav</BootstrapNavMenuItem>
            <BootstrapNavMenuItem Href="components/navbar">Navbar</BootstrapNavMenuItem>
            <BootstrapNavMenuItem Href="components/spinner">Spiners</BootstrapNavMenuItem>
            <BootstrapNavMenuItem Href="components/toast">Toast</BootstrapNavMenuItem>
            <BootstrapNavMenuItem Href="components/tooltip">Tooltips</BootstrapNavMenuItem>
            <BootstrapNavMenuItem Href="components/treeview">TreeView</BootstrapNavMenuItem>
        </BootstrapNavMenuSubItem>
    </BootstrapNavMenu>
</nav>
