<nav>
    <ul class="p-0">
        <li class="nav-item list-unstyled px-3">
            <NavLink class="nav-link px-3" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item list-unstyled px-3">
            <NavLink class="nav-link px-3" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item list-unstyled px-3">
            <NavLink class="nav-link px-3" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        <li class="nav-item list-unstyled px-3">
            <strong style="color:#575757" class="d-flex w-100 align-items-center fs-5 fw-semibold">
                Layout
            </strong>
            <ul class="p-0">
                <li class="nav-item list-unstyled px-3">
                    <NavLink class="nav-link px-3" href="layout/containers">
                        Containers
                    </NavLink>
                </li>
                <li class="nav-item list-unstyled px-3">
                    <NavLink class="nav-link px-3" href="layout/grid">
                        Grid
                    </NavLink>
                </li>
            </ul>
        </li>
        <li class="nav-item list-unstyled px-3">
            <strong style="color:#575757" class="d-flex w-100 align-items-center fs-5 fw-semibold">
                Forms
            </strong>
            <ul class="p-0">
                <li class="nav-item list-unstyled px-3">
                    <NavLink class="nav-link px-3" href="forms/formcontrols">
                        FormControls
                    </NavLink>
                </li>
                <li class="nav-item list-unstyled px-3">
                    <NavLink class="nav-link px-3" href="forms/validation">
                        Validation
                    </NavLink>
                </li>
            </ul>
        </li>
        <li class="nav-item list-unstyled px-3">
            <strong style="color:#575757" class="d-flex w-100 align-items-center fs-5 fw-semibold">
                Components
            </strong>
            <ul class="p-0">
                <li class="nav-item list-unstyled px-3">
                    <NavLink class="nav-link px-3" href="components/accordion">
                        Accordion
                    </NavLink>
                </li>
                <li class="nav-item list-unstyled px-3">
                    <NavLink class="nav-link px-3" href="components/alert">
                        Alert
                    </NavLink>
                </li>
                <li class="nav-item list-unstyled px-3">
                    <NavLink class="nav-link px-3" href="components/badge">
                        Badge
                    </NavLink>
                </li>
                <li class="nav-item list-unstyled px-3">
                    <NavLink class="nav-link px-3" href="components/buttons">
                        Buttons
                    </NavLink>
                </li>
                <li class="nav-item list-unstyled px-3">
                    <NavLink class="nav-link px-3" href="components/collapse">
                        Collaspes
                    </NavLink>
                </li>
                <li class="nav-item list-unstyled px-3">
                    <NavLink class="nav-link px-3" href="components/dropdown">
                        Dropdowns
                    </NavLink>
                </li>
                <li class="nav-item list-unstyled px-3">
                    <NavLink class="nav-link px-3" href="components/listgroup">
                        List group
                    </NavLink>
                </li>
                <li class="nav-item list-unstyled px-3">
                    <NavLink class="nav-link px-3" href="components/modal">
                        Modal
                    </NavLink>
                </li>
                <li class="nav-item list-unstyled px-3">
                    <NavLink class="nav-link px-3" href="components/nav">
                        Nav
                    </NavLink>
                </li>
                <li class="nav-item list-unstyled px-3">
                    <NavLink class="nav-link px-3" href="components/navbar">
                        Navbar
                    </NavLink>
                </li>
                <li class="nav-item list-unstyled px-3">
                    <NavLink class="nav-link px-3" href="components/toast">
                        Toast
                    </NavLink>
                </li>
                <li class="nav-item list-unstyled px-3">
                    <NavLink class="nav-link px-3" href="components/treeview">
                        TreeView
                    </NavLink>
                </li>
            </ul>
        </li>
    </ul>
</nav>
