@namespace BootstrapBlazor
@inherits BootstrapComponentBase

<span class="@Classname" style="@Style" @attributes="@AdditionalAttributes">
    @if (ChildContent is not null)
    {
        @ChildContent
    }
    else
    {
        @Text
    }
</span>
