@namespace BootstrapBlazor
@inherits BootstrapComponentBase

<div class="@Classname" style="@Style" @attributes="@AdditionalAttributes">
    <CascadingValue Value="@this" Name="InputGroup" IsFixed>
        @ChildContent
    </CascadingValue>
    @if (!string.IsNullOrWhiteSpace(ValidText) && _isValid == true)
    {
        <div class="valid-feedback">
            @ValidText
        </div>
    }
    else if (_isValid == false)
    {
        <div class="invalid-feedback">
            @if (!string.IsNullOrWhiteSpace(InvalidText))
            {
                @InvalidText
            }
            else
            {
                @_invalidText
            }
        </div>
    }
</div>
